{% extends 'index.html.twig' %}

{% block title %}Register{% endblock %}

{% block container %}
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
           <h1 class="text-center">S'inscrire</h1>
           <hr class="mb-5">

            {% for flash_type, flash_messages in app.flashes %}
                <div class="alert alert-{{flash_type}}">
                    {% for flash_message in flash_messages %}
                        {{ flash_message }}
                    {% endfor %}
                </div>
            {% endfor %}

            {{ form_start(registrationForm) }}
                <div class="mb-3">
                    <label for="{{ registrationForm.login.vars.id }}">Nom d'utilisateur</label>
                    {{ form_widget(registrationForm.login, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="{{ registrationForm.email.vars.id }}">Email</label>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="{{ registrationForm.password.vars.id }}">
                        Mot de passe
                        <button 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right"
                            data-bs-class="tooltip-custom"
                            class="btn mb-1"
                            data-bs-title="Le mot de passe doit comporter au moins 8 caractères et inclure des lettres majuscules, des lettres minuscules ainsi que des caractères spéciaux."
                        >
                            <i class="bi bi-info-circle"></i>
                        </button>
                    </label>
                    {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}, 'label': 'Password'}) }}
                </div>

                <div class="text-center mt-3">
                    <button class="btn button-secondary" type="submit">
                        Valider
                    </button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>

{% endblock %}
